* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  touch-action: manipulation;
  background-image: url('/img/nasa-hubble-space-telescope-NOBlqe6byHc-unsplash.jpg'); /* URL of your image */
  background-size: cover;
  background-position: center;
}

h1{
  font-size: 18px;
  color:whitesmoke;
  margin-block-end: 3%;
}

.container{
  margin: 20px auto;
  background-color: whitesmoke;
  text-align: center;
  padding: 5%;
  border: none;
  border-radius: 10px;
  touch-action: manipulation;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(134, 22, 22, 1.5);
}

.display{
  height: 70px;
  font-size:40px;
  color:burlywood;
  margin: -5px auto;
  width: 98%;
  background-color: whitesmoke;
  border: burlywood 5px solid;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
}

.calbtn{
  display: grid;
  grid-template: repeat(1,1fr)/ repeat(2, 1fr);
  margin-block-start: 50px;
}

.minus{
background-color: navajowhite;
border:burlywood solid 5px;
cursor: pointer;
font-size: 50px;
height: 50px;
width: 100px;
text-align: center;
display: flex;
justify-content: center; 
align-items: center;
color: black;
}
.minus:hover{
color: white;
background-color: blue;
border:blue solid 5px;
}

.add{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: navajowhite;
  border:burlywood solid 5px;
  cursor: pointer;
  font-size: 50px;
  margin-inline-start: 30%;
  color: black;
  
}
.add:hover{
color: white;
background-color: green;
border:green solid 5px;
}

.rst{
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: navajowhite;
  border:burlywood solid 5px;
  font-size: 20px;
  color: black;
}
  .rst:hover{
  color: white;
  background-color: red;
  border:red solid 5px;
}

/* mobile */
@media (min-width:350px) and (max-width: 750px){
.container{
  width: 80%;
  background-color: whitesmoke;
}

.calbtn{
  margin-block-start: 100px;
  
}

.minus{
width:50%;
}

.add{
  height: 100px;
  width: 50%;
  padding: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 25%;
}

.rst{
  width:50%;
  margin-block-end: 20px;
}
}

/* Tablets */
@media (min-width: 751px) and (max-width:992px){
.container{
  width:60%;
}

.minus{
  width: 50%;
}

.add{
    width: 50%;
    border-radius: 50%;
    padding: 25%;
    margin-inline-start: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 50%;

}

.rst{
    width:50%;
}
}

@media (min-width:993px) {
.container{
  width:60%;
}
.minus{
  width: 50%;
}

.add{
    width: 50%;
    border-radius: 50%;
    padding: 25%;
    margin-inline-start: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 50%;
}
.minus{
  cursor: pointer;
  font-size: 50px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: whitesmoke;
}

.rst{
    width:50%;
    height: 100px;
}
}